[data-amplify-theme='newctt'] {
  --amplify-fonts-default-variable: 'Inter';
  --amplify-fonts-default-static: 'Inter';
  --amplify-colors-brand-primary-10: var(--amplify-colors-red-10);
  --amplify-colors-brand-primary-20: var(--amplify-colors-red-20);
  --amplify-colors-brand-primary-40: var(--amplify-colors-red-40);
  --amplify-colors-brand-primary-60: var(--amplify-colors-red-60);
  --amplify-colors-brand-primary-80: var(--amplify-colors-red-80);
  --amplify-colors-brand-primary-90: var(--amplify-colors-red-90);
  --amplify-colors-brand-primary-100: var(--amplify-colors-red-100);
  --amplify-colors-brand-secondary-10: var(--amplify-colors-neutral-10);
  --amplify-colors-brand-secondary-20: var(--amplify-colors-neutral-20);
  --amplify-colors-brand-secondary-40: var(--amplify-colors-neutral-40);
  --amplify-colors-brand-secondary-60: var(--amplify-colors-neutral-60);
  --amplify-colors-brand-secondary-80: var(--amplify-colors-neutral-80);
  --amplify-colors-brand-secondary-90: var(--amplify-colors-neutral-90);
  --amplify-colors-brand-secondary-100: var(--amplify-colors-neutral-100);
  --amplify-colors-radii-small: 0;
  --amplify-colors-radii-medium: 2px;
  --amplify-colors-radii-large: 4px;
  --amplify-colors-border-primary: var(--amplify-colors-neutral-40);
  --amplify-colors-border-secondary: var(--amplify-colors-neutral-20);
  --amplify-colors-border-tertiary: var(--amplify-colors-neutral-10);
  --amplify-colors-background-secondary: var(--amplify-colors-brand-primary-10);
  --amplify-components-tabs-item-border-color: var(--amplify-colors-neutral-60);
  --amplify-components-button-primary-background-color: var(--amplify-colors-brand-primary-90);
}
